*{
 margin: 0;
 padding: 10px;
 font-family: Arial, Helvetica, sans-serif;

}

input{
 display: block;
 width: 50%;
 outline: none;
 border: 1px solid green; 
 box-sizing: border-box;
 min-width: 400px;
}


#input-btn, #tab-btn{
 margin-top: 10px;
 background-color: green;
 color: white;
 border: 1px solid green;
 cursor: pointer;
 border-radius: 10px;
 transition: 1ms;
}

#delete-btn{
 border: 1px solid  rgb(160, 15, 15) ;
 background-color: rgb(160, 15, 15);
 cursor: pointer;
 border-radius: 10px;
 transition: 1ms;
 margin-top: 10px;
 color: white;
}

button:hover{
 opacity: 0.8;
}

button:active{
 border: 1px dotted black;
}

ul{
 padding-left: 0;
 margin-top: 20px;
}

li{
 list-style-type: none;
 margin-top: 5px;
}
a{
 color: green;
}